{% extends 'base.html' %}

{% block title %}
Make your question
{% endblock %}

{% block body %}
    <form action="{% url 'quiz:create_question' quiz.id %}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="save"> Save question </button>
    </form>
{% endblock %}