{% extends 'base.html' %}
{% block title %}
QuizApp
{% endblock %}

{% block body %}
<div class="container">
    <ul>
    {% for quiz in quizes %}
        <li><a href="{{quiz.id}}"> {{ quiz.quiz_name }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'quiz:create_quiz' %}"><button>Make your own quiz</button></a>
</div>
{% endblock %}