{% extends 'base.html' %}
{% block title %}
Results
{% endblock %}

{% block body %}
<div class="container">
    <p>You have answered {{count_correct}} of {{total_questions}} correctly</p>
    <a href="{% url 'quiz:get_all_quizes' %}"><button>Home</button></a>
</div>
{% endblock %}