{% extends 'base.html' %}

{% block title %}
Make your quiz
{% endblock %}

{% block body %}
<form action="{% url 'quiz:create_quiz'%}" method="post" autocomplete="off">
     {% csrf_token %}
     {{ form.as_p }}
     <button type="submit" value="submit"> Save quiz </button>
</form>
{% endblock %}