{% extends 'base.html' %}
{% block title %}
Quiz | {{ quiz.quiz_name }}
{% endblock %}

{% block body %}
<div class="container">
    <p>Quiz: {{quiz.quiz_name}}</p>
    <p> Number of questions: {{question_quantity}}</p>
    <a href="{% url 'quiz:get_question_in_quiz' quiz.id 1 %}"><button>Start quiz</button></a>
</div>
{% endblock %}