{% extends 'base.html' %}
{% block title %}
Quiz | {{ quiz.quiz_name }}
{% endblock %}

{% block body %}
<div class="container">
    <p>Quiz: {{quiz.quiz_name}}</p>
    <form action="{% url 'quiz:check_answers_correctness' quiz.id current_question.question_number %}" method="post">
        {% csrf_token %}
        <p>Question:  {{ current_question.question_name }} {{current_question.question_number}} / {{quiz.question_quantity}}</p>
        {% for answer in current_question.answer_set.all %}
            <label for="answer{{forloop.counter}}">{{answer.answer_name}}</label>
            <input type="radio" name="answer" id="answer{{forloop.counter}}" value="{{answer.id}}">
        {% endfor %}
        <br>
        <button type="submit" value="{{next_or_submit}}">Submit result</button>
    </form>
</div>
{% endblock %}