{% extends 'base.html' %}

{% block title %}
Create answer
{% endblock %}

{% block body %}
<form action="{% url 'quiz:create_answer' quiz.id question.id %}" method="post" autocomplete="off">
    {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" value="save">Save answer</button>
</form>
{% endblock %}